<h1>
  Packing List
</h1>
<div class="flex-container">
  <div class="row">
    <ul>
    <% @clothes.each do |item, quantity| %>
      <li>
      <%= item %>: <%= quantity %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
